

* {
	box-sizing: border-box;
}

h1 {
	font-family: Brushstroke, fantasy;
	color: #000000;
}

body {
	
	background-color: #af7878;

}

p {
	padding: 13px;
	margin: 0;
}

.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

section {
	border:	1px solid rgb(0, 0, 0);
	background-color: #e6d990;
	width: 100%;
	height: auto;
	font-family: Helvetica;
	color: rgb(0, 0, 0);
	position: relative;
	overflow: auto;
}

#chicken {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 71%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 10px;
	background-color: #f0ae4b;
}

#beef {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 71%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: #f851b3c9;
}

#sushi {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 71%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	background-color: #5fe97d;
	color: rgb(0, 0, 0);
	padding: 5px;
}

#chicken-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#beef-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#sushi-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

.navbar-brand {
  font-size: 2em;
  border: 0 0 10px 10px;
  color: #803333;
}

#header-nav {
  border: 0;
  background-color: #e7e0b5;
  color: #311919;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #631a35;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.nav-header {
  background-color: #e21515fa;
}

.nav-brand {
  color: #462d2d;
  font-size: 1.5em;
}

#nav-list {
  color: rgb(78, 47, 47);
}

hr {
  border-color: rgb(32, 19, 19);
}

.item {
  color: rgb(32, 20, 20);
  font-size: 1.2em;
}